body {
    min-height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 32px 256px;
    flex-wrap: wrap;
    gap:64px;
    flex:1;
    background-color: #deded5;

}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* max-width: 600px; */
    gap:20px;
    font-size: 48px;
    font-weight: 900;
    color:#000000;
}

.rules{
    max-width: 600px;
    font-size: 32px;
    color:#010409
}
.rules-element {
    font-size: 20px;
}

button{
    border-radius: 12px;
    border: 0;
    padding: 8px 16px;
    font-size: 18px;
    font-weight: 700;

}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 64px;
}

#results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    gap:20px;
    font-size: 32px;
    font-weight: 900;
    color:#000000;
}

/* .results-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:20px;
    font-size: 32px;
    font-weight: 900;
    color:#000000;
} */

.computer-choice, .player-choice, .result-line{
    display: flex;
    justify-content: flex-start;
    max-width: 600px;
    gap:20px;
    font-size: 16px;
    color:#000000;
}